{{ partial "helpers/katex.html" . }}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
      ],
    });
  });
</script>

<style>
  p,
  span,
  li {
    line-height: 2;
  }
  .katex {
    line-height: initial;
    color: #23b0ff;
    background-color: #23aeff1d;
    padding: 0.5px 3px;
    margin: 2px 0;
    /* cursor: crosshair; */
    transition: 0.2s;
    border: 1px solid transparent;
    border-radius: 3px;
    display: inline-block;
  }
  .katex * {
    line-height: initial;
  }
  .katex:hover {
    background-color: #23aeff3d;
    border: 1px solid #23aeff;
  }
  /* highlight color #23b0ff; */
  ::selection {
    background: #23b0ff;
    color: #fff;
  }
  @media print {
    /* Force everything to show */
    body {
      visibility: visible !important;
      padding: 20px;
      background-color: #000;
    }
    * {
      visibility: visible !important;
    }
    html {
      filter: invert();
      background-color: #000;
    }
  }
  @media print {
    .header {
      display: initial;
    }
  }
</style>
